<section class='recipe-step-ingredients-container form_visibility_class(#{local_assigns[:show_partial]})'>
    <%= local_assigns[:recipe_step_form].fields_for RecipeStepIngredient.new do |recipe_step_ingredient |%>
        <%= recipe_step_ingredient.fields_for Ingredient.new do |ingredient| %>
            <%= ingredient.label :name %>
            <%= ingredient.text_field :name %>

            <%= ingredient.label :description %>
            <%= ingredient.text_area :description %>
        <% end %>

        <%= recipe_step_ingredient.label :amount%>
        <%= recipe_step_ingredient.number_field :amount %>

        <%= recipe_step_ingredient.label :amount_unit, 'Unit (g, ml, etc.)' %>
        <%= recipe_step_ingredient.text_field :amount_unit %>
    <% end %>
</section>