<h1>Add a New Recipe</h1>

<%= form_for :recipe  do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description%>
    <%= f.text_area :description %>
    
    <%= f.label :instructions%>    
    <%# <%= f. :instructions%> %>

    <%= f.label :completion_time %>
    <%= f.number_field :completion_time %>

    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>

    <%= f.label 'Ingredients', for: :recipe_ingredient_ids %>
    <%# <%= f.select :ingredient_ids, options_from_collection_for_select(@ingredients, :id, :name), { prompt: 'Select Ingredients' } %> %>

    <%= f.submit %>
<% end %>