<h1>Add a New Recipe</h1>

<%= form_for :recipe  do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description%>
    <%= f.text_area :description %>
    
    <%= f.label :instructions     %>
    <%= f.text_field :instructions, multiple: true %>
    <div class='instruction-entry-container'>
        <%= text_area_tag :instruction %>
        <%= button_tag(type: :button) do %>
            Add Instruction
        <% end %>
    </div>


    <%= f.label :completion_time %>
    <%= f.number_field :completion_time %>

    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>

    <%= f.label 'Ingredients', for: :recipe_ingredient_ids %>

    <%= f.submit %>
<% end %>