<h1>Add a New Recipe</h1>

<%= javascript_pack_tag 'recipes', 'data-turbolinks-track': 'reload' %>


<%= form_for @recipe, html: {id: 'new_recipe_form'}  do |f| %>
    <section class='new-recipe-information-container'>
        <%= label_tag :name %>
        <%= text_field_tag :name %>

        <%= label_tag :description%>
        <%= text_area_tag :description %>
    </section>

    <%= render partial: 'recipes/shared/recipe_step_instruction', locals: {recipe_form: f, show_partial: true} %>
   
    <%= f.submit %>
<% end %>