<h1>Add a New Recipe</h1>

<%= javascript_pack_tag 'recipes', 'data-turbolinks-track': 'reload' %>


<%= form_for @recipe, html: {id: 'new_recipe_form'}  do |f| %>
    <section class='new-recipe-information-container'>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description%>
        <%= f.text_area :description %>
    </section>
    
    <section class='new-recipe-instructions-container'>
        <ul id='current_instructions'>
            <%# <li class='current-instruction sample-item'>Sample Item 1</li>
            <li class='current-instruction sample-item'>Sample Item 2</li> %>
        </ul>

        <div class='instruction-entry-container'>
            <%= text_area_tag :instruction %>
            <%= button_tag(type: :button, id: 'add_instruction_btn') do %>
                Add Instruction
            <% end %>
        </div>
    </section>

    <section class='new-recipe-additional-info-container'>
        <%= f.label :completion_time %>
        <%= f.number_field :completion_time %>

        <%= f.label :profile_image %>
        <%= f.file_field :profile_image %>
    </section>

    <%= f.submit %>
<% end %>